.DS_Store

/node_modules/

yarn-error.log

/src/node_modules/@sapper/
/__sapper__/
/cypress/screenshots/
*.env
!credential.sample.env
umzug.json

*.session
telegram-export/
telegram-export.config.ini

tg-export/*
!tg-export/.gitkeep

static/telegram-images/*
!static/telegram-images/.gitkeep